---
import Version from "@components/Version.astro";
import IconLink from "@components/generic/IconLink.astro";

export interface Props {
    /** Optional CSS class(es) to apply to the footer */
    class?: string;
    /** Optional CSS inline styles to apply to the footer */
    style?: string | Record<string, string>;
}

const { class: className, style } = Astro.props;

// Import social icons
import githubLogo from "@images/icons/github-mark-white.svg";
import bandcampLogo from "@images/icons/bandcamp-button-circle-line-white.svg";
import linkedinLogo from "@images/icons/LI-In-Bug.svg";

// Get the current year
const year = new Date().getFullYear().toString();
---

<footer
    class={"absolute bottom-0 w-full print:relative" + ` ${className ? className : ""}`}
    style={style}
    role="contentinfo"
>
    <div class="mx-0 mt-2 mb-0 pb-2 text-center">
        <ul class="flex justify-center gap-5 p-0 md:mb-1 lg:mb-2 print:hidden">
            <IconLink platform="GitHub" url="https://github.com/PhotonicGluon" icon={githubLogo} />
            <IconLink platform="Bandcamp" url="https://melodicgluon.bandcamp.com/" icon={bandcampLogo} />
            <IconLink platform="LinkedIn" url="https://www.linkedin.com/in/kan-onn-kit" icon={linkedinLogo} />
        </ul>
        <span class="block text-sm">
            Copyright &copy; {year} PhotonicGluon
        </span>
        <span class="block text-xs text-gray-400/90 print:text-xs print:text-gray-700">
            Version <Version />
        </span>
        <span class="block text-xs print:hidden">
            <div class="inline-flex gap-8">
                <a href="https://github.com/PhotonicGluon/Photonic">Source Code</a>
                <a href="/credits">Credits</a>
            </div>
        </span>
        <span class="hidden text-2xs text-gray-700 print:block">
            Printed on <span class="font-mono" id="print-timestamp">TIMESTAMP</span>
        </span>
    </div>
</footer>

{/* Add timestamp when printing */}
<script>
    window.onbeforeprint = () => {
        const timestamp = document.getElementById("print-timestamp")!;
        timestamp.textContent = new Date().toISOString();
    };
</script>
