---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";

import { toPost } from "@lib/blog/post";
import { humanizeDate } from "@lib/misc/dates";

import SEO from "@components/top/SEO.astro";

import MainLayout from "@layouts/MainLayout.astro";

export interface Props {
    /** Main blog post data */
    post: CollectionEntry<"blog">["data"];
    /** List of headings in the blog */
    headings: MarkdownHeading[];
}

const { post: rawPost, headings } = Astro.props;
const post = toPost(rawPost);

// Generate OGP data for SEO
const ogpData: any = {
    title: post.title,
    description: post.summary,
};
if (post.image !== undefined) {
    ogpData.image = {
        url: post.image.url,
        alt: post.image.alt,
    };
} else {
    // Use the "no image" image
    ogpData.image = {
        url: Astro.site + "no-image.png",
        alt: "No image provided",
        type: "image/png",
    };
}
---

<MainLayout title={post.title} subtitle={humanizeDate(new Date(post.pubDate))}>
    {/* SEO */}
    <Fragment slot="head-seo">
        <SEO title={post.title} description={post.summary} openGraph={ogpData} />
    </Fragment>

    {/* Main stuff */}
    <section
        class="flex flex-col gap-4 divide-y-2 divide-solid divide-gray-500/25 lg:flex-row lg:gap-2 lg:divide-none"
    >
        {/* Contents */}
        <aside
            class="pb-4 motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards lg:order-2 lg:pb-0 lg:pl-2 motion-safe:lg:slide-in-from-right-4"
        >
            <div class="sticky top-3">
                <span class="block text-2xl font-bold lg:text-lg">Contents</span>
                <ul class="block space-y-2 text-base lg:space-y-0 lg:text-sm">
                    {
                        headings.map((heading) => (
                            <li class="pl-(--depth)" style={{ "--depth": (heading.depth - 1) * 0.75 + "em" }}>
                                <a class="!text-gray-300 hover:!text-gray-400" href={`#${heading.slug}`}>
                                    {heading.text}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </aside>

        {/* Blog post */}
        <article
            class="mx-auto max-w-screen-md self-start motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:fill-mode-backwards lg:sticky lg:top-3 lg:order-1 motion-safe:lg:slide-in-from-left-4"
            id="blog-post"
        >
            <slot />
        </article>
    </section>
</MainLayout>

{/* Blog page styling */}
<style is:global>
    @import "@styles/global.css";

    /* Headings */
    #blog-post h1 {
        @apply mt-2 mb-0.5 text-4xl font-extrabold;
    }

    #blog-post h2 {
        @apply mt-2 mb-0.5 text-3xl font-bold;
    }

    #blog-post h3 {
        @apply mt-1.5 mb-0.5 text-2xl font-bold;
    }

    #blog-post h4 {
        @apply mt-1.5 text-xl font-bold;
    }

    #blog-post h5 {
        @apply mt-1 text-lg font-bold;
    }

    #blog-post h6 {
        @apply mt-1 text-base font-bold;
    }

    /* Lists */
    #blog-post ul {
        @apply list-outside list-disc pl-4;
    }

    #blog-post ol {
        @apply list-outside list-decimal pl-4;
    }

    /* Tables */
    #blog-post table {
        @apply mb-2 w-full text-left text-base text-gray-400 rtl:text-right;
    }

    #blog-post table thead {
        @apply bg-gray-700 text-sm text-gray-400 uppercase;
    }

    #blog-post table thead tr th {
        @apply px-4 py-1.5;
    }

    #blog-post table tbody tr {
        @apply border-b border-gray-700 bg-gray-900;
    }

    #blog-post table tbody tr th {
        @apply px-4 py-2 font-medium whitespace-nowrap text-gray-50;
    }

    #blog-post table tbody tr td {
        @apply px-4 py-2;
    }

    /* Code and code blocks */
    #blog-post :not(pre) > code {
        @apply rounded-lg bg-gray-800 px-1 py-0.5 text-gray-100;
    }

    #blog-post .astro-code {
        @apply my-2 rounded-lg !bg-gray-800 p-4 text-sm leading-tight;
    }

    /* Alerts */
    #blog-post .markdown-alert {
        @apply mb-2 rounded-2xl border p-6;
    }

    #blog-post .markdown-alert > :last-child {
        @apply !mb-0 pb-0;
    }

    #blog-post .markdown-alert-title {
        @apply flex w-max items-center pb-0 align-middle text-base font-bold;
    }

    #blog-post .markdown-alert-title svg {
        @apply mr-2 size-4 fill-current;
    }

    /* Miscellaneous */
    #blog-post hr {
        @apply border-1 text-gray-700;
    }

    #blog-post .katex-html {
        @apply hidden;
    }

    /* Footnote section treatment */
    #blog-post .footnotes {
        @apply p-0;
    }
</style>
