---
import HeroBox from "@components/HeroBox.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

export interface Props {
    /** Optional class(es) to apply to the main element */
    class?: string;
    /** Title of the page */
    title?: string;
    /** Optional CSS class(es) to apply to the title text */
    titleClass?: string;
    /** Optional CSS inline styles to apply to the title text */
    titleStyle?: string;
    /** Optional subtitle of the page */
    subtitle?: string;
    /** Optional CSS class(es) to apply to the subtitle text */
    subtitleClass?: string;
    /** Optional CSS inline styles to apply to the subtitle text */
    subtitleStyle?: string;
    /** Title of the tab; defaults to the `title` with the website name */
    tabTitle?: string;
    /** Optional specification string for the height of the hero box */
    heroBoxHeight?: string;
}

const {
    class: className,
    title = "Untitled",
    titleClass,
    titleStyle,
    subtitle,
    subtitleClass,
    subtitleStyle,
    tabTitle,
    heroBoxHeight,
} = Astro.props;
---

<BaseLayout title={tabTitle ? tabTitle : `${title} - Photonic`}>
    <slot name="head-fonts" slot="head-fonts" />
    <slot name="head-scripts" slot="head-scripts" />

    <slot name="hero-box">
        <HeroBox
            title={title}
            titleClass={titleClass}
            titleStyle={titleStyle}
            subtitle={subtitle}
            subtitleClass={subtitleClass}
            subtitleStyle={subtitleStyle}
            height={heroBoxHeight}
        />
    </slot>

    <main class={className}>
        <slot />
    </main>
</BaseLayout>
