---
import type { CollectionEntry } from "astro:content";

import { toProject } from "@lib/projects/project";
import { toDateString } from "@lib/misc/dates";

import ProjectBanner from "@components/projects/ProjectBanner.astro";
import ProjectTags from "@components/projects/ProjectTags";
import ProjectURLsIcons from "@components/projects/ProjectURLsIcons.astro";

import MainLayout from "@layouts/MainLayout.astro";

// Get the project
type Props = CollectionEntry<"projects">["data"];
const project = toProject(Astro.props);
---

<MainLayout
    title={project.name}
    subtitle=`${toDateString(project.dates.start)} — ${project.dates.end ? toDateString(project.dates.end) : "Present"}`
>
    <slot name="head-fonts" slot="head-fonts" />
    <slot name="head-scripts" slot="head-scripts" />

    {/* Banner image */}
    {
        project.banner && (
            <div class="w-full motion-safe:delay-200 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-top-4 motion-safe:fill-mode-backwards">
                <ProjectBanner
                    src={project.banner}
                    alt={`${project.name} Banner`}
                    class="mx-auto max-w-screen-sm rounded"
                    loading="eager"
                />
            </div>
        )
    }

    {/* Add tags */}
    <ProjectTags
        class="motion-safe:delay-300 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-top-2 motion-safe:fill-mode-backwards"
        tags={project.tags}
    />

    {/* Icons for URLs */}
    <div
        class="mt-2 motion-safe:delay-400 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-top-2 motion-safe:fill-mode-backwards"
    >
        <ProjectURLsIcons urls={project.urls} loading="eager" />
    </div>

    {/* Actual project contents */}
    <section
        id="project"
        class="mt-4 motion-safe:delay-500 motion-safe:duration-500 motion-safe:animate-in motion-safe:fade-in motion-safe:slide-in-from-top-2 motion-safe:fill-mode-backwards"
    >
        <slot />
    </section>
</MainLayout>

<style is:global>
    /* Hero box specific styling */
    .text h1 {
        @apply pt-0 leading-normal;
    }

    /* Project content specific styling */
    #project h1 {
        @apply pt-4 text-3xl font-bold;
    }

    #project h2 {
        @apply pt-3 text-2xl font-bold;
    }

    #project h3 {
        @apply pt-2 text-xl font-bold;
    }

    #project img {
        @apply mx-auto block rounded;
    }

    #project ul {
        @apply list-outside list-disc pl-4;
    }

    #project ol {
        @apply list-outside list-decimal pl-4;
    }
</style>
