---
import { Image } from "astro:assets";

export interface Props {
    /** Name of the platform */
    platform: string;
    /** URL of the social media */
    url: string;
    /** Path to the icon file */
    icon: ImageMetadata;
    /** Indicates how the browser should load the image */
    loading?: "eager" | "lazy" | null;
}

const { platform, url, icon, loading } = Astro.props;
---

<li>
    <a href={url} title={platform}>
        <Image class="h-7 w-auto md:h-8 lg:h-10" src={icon} alt=`${platform} Logo` loading={loading} />
    </a>
</li>
